@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

.ir {
	overflow: hidden;

	text-indent: 100%;
	white-space: nowrap;
}

.img-flex {
	display: block;
	width: 100%;
}

body,
html {
    margin: 0;
    padding: 0;
}

.normal {
    font-weight: normal;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both; /* the wrapper must go clear aroundthe clearfix */
}

.clearfix {
    *zoom: 1;
}

.about-us-background {
    overflow:hidden;
    background-image: url(../images/about-us-background.jpg);
    background-repeat: no-repeat;
    width: 100%;
    margin: 0 0 0 2rem;
}

.founder {
    float: left;
}

.home-page-img {
    width: 100%;
    height: 250px;
    background-image:url(../images/home-page-background.jpg);
    background-size: cover;
    background-repeat:no-repeat;
}

.thank-you-message {
    font-size: 1.1rem;
    line-height: 1.6rem;
}