.search-field{
    display: inline-block;
    padding: 0.5em;
    background-color:#f1f3f6;
    background-image: linear-gradient(to bottom, #fff, #f1f3f6);
    border-radius: 2px;
    box-shadow: 0.5px 0.5px 5px rgba(0,0,0,0.5);
    border: 0;
    color: black;
    font-weight: lighter;
    font-size: 1em;
}

.go{
    display: inline-block;
}

.go a {
    padding: 0.5em 0.5em;
    background-color: #5f93d0;
    background-image: linear-gradient(to bottom, #fff, #5f93d0);
    border-radius: 2px;
    box-shadow: 0.5px 0.5px 5px rgba(0,0,0,0.5);
    border: 0;
    color: black;
    font-weight: bold;
}

.go a:hover {
    background-image: linear-gradient(to bottom, #5f93d0, #fff);
}