.header-colour {
    background-color: #1f4474;
}

.search {
    text-align:right;
}

.horizontal {
    display:inline-block;
}

.palisar {
    width: 50%
}

.white-link {
    color: #fff;
}

.about-us-background {
    overflow:hidden;
    background-image: url(../images/about-us-background.jpg);
    background-repeat: no-repeat;
    width: 100%;
    margin: 0 0 0 2rem;
}

.founder {
    float: left;
}

.home-page-img {
    width: 50em;
}