.header-colour {
    background-color: #1f4474;
}

.search {
    text-align:right;
    width: 100%;
    padding: 5px;
}

.horizontal {
    display:inline-block;
}

.palisar {
    width: 50%
}

.white-link {
    color: #fff;
}