.media {
    overflow: hidden;
}

.media-img {
    float: left;
    margin: 0 0 0 0;
    width: 50%;
}

.media-body {
}

.media-img-reversed {
    width: 50%;
    float: right;
    margin: 0 0 0 0px;
}

.media-img-stacked {
    float: none;
    margin: 0;
}

.media-img-cart {
    float: left;
    margin: 0 0 0 0;
    width: 50%;
}

media-body-cart {
    float: right;
    margin: 0;
    width: 50%;
}

.ul-group-inline {
    margin: 0 auto;
}

.list-group {
    list-style-type: none;
    text-decoration:none;
}

.list-group-item-inline {
    display: inline-block; /* Makes Li itemsLine up horizontal */
    margin: 0.5em 0.5em 0em 0em;
}

.shopping-cart-item {
    width: 11em;
}