.media {
    overflow: hidden;
}

.media-img {
    float: left;
    margin: 0 10px 0 0;
}

.media-body {
    overflow: hidden;
}

.media-img-reversed {
    float: right;
    margin: 0 0 0 10px
}

.media-img-stacked {
    float: none;
    margin: 0;
}

.ul-group-inline {
 display: inline-block;
 margin: 2em 0em
}

.list-group {
    list-style-type: none;
    text-decoration:none;
}

.list-group-item-inline {
    display: inline-block; /* Makes Li itemsLine up horizontal */
    margin: 0.5em 0.5em 0em 0em;
}