.list-group {
    list-style-type: none;
}

.list-group-item {
    display: block; /* Makes Li itemsLine up virtically */
}

.list-group-item-before {
    content:"";
}

.list-group-item-inline {
    display: inline-block; /* Makes Li itemsLine up horizontal */
    margin: 0.5em 0.5em 0em 0em;
}

.active-size {
    border: 2px solid #5f93d0;
}

.inactive {
    border: 2px solid #fff;
}

.img-flex {
    width; 100%;
    display: block;
}

.product {
    background-color: #f1f3f6;
    border-radius: 10px;
    padding: 1em;
}

p {
 color: #263043;   
}