.promo-price {
 color: #3b5a89;  
}

.discount {
    text-align: center;
}

colour-weight {
    color: #3b5a89;
}

.promo-small {
    background-color: #f1f3f6;
    border-radius: 10px;
    padding: 1em;
}