/*
  Colour Palette
  - Dark green: #060 - rgb(0, 100, 0)
  - Dark red: #600 - rgb(100, 0, 0)
 */

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 1.5rem;
}

.biggest {
	font-size: 4.301rem;
	line-height: 1.1357;
    color: #263043;
    background-color:transparent
}

.big {
	font-size: 3.052rem;
    color: #263043;
    background-color:transparent
}

h1, .h1 {
	font-size: 2.441rem;
    color: #FFF;
    background-color: #2f3826;
    font-family: "Century Gothic";
}

h2, .h2 {
	font-size: 1.953rem;
    font-family: "Century Gothic";
    color: #1f4474;
}

h3, .h3 {
	font-size: 1.563rem;
    font-family: "Calibri";
    color: #1f4474;
}

h4, .h4 {
	font-size: 1.125rem;
    font-family: "Calibri";
}

h5, .h5 {
	font-size: 1rem;
    font-family: "Calibri";
}

h6, .h6 {
    font-size: 0.8rem;
    font-family: "Calibri";
	}
	
small, .small {
	font-size: 0.64rem;
    font-family: "Calibri";
}

.smallest {
	font-size: 0.512rem;
    font-family: "Calibri";
}

p {
 font-family: "Candara";   
}

a {
    text-decoration:underline;
    color: #5f93d0
}

ul {
 list-style-type: none;   
}

ul li:before {
    content:"➠";
}

blockquote {
 background-color: #f1f3f6   
}

ol { 
    font-style:italic 
}

dt {
    font-weight:bold
}

small {
 font-size: 0.8em   
}

s {
 color: #5f93d0;
}

b {
 color: #1f4474;   
}

strong {
 color: #1f4474 
}

cite {
    font-style:italic;
    font-weight:bolder
}

q {
 text-emphasis-color: #1f4474   
}

dfn {
 color: #1f4474
}

abbr {
 font-weight:bolder
}

time {
    font-size: 1.05em;
    font-style:italic
}

mark {
    color: #5f93d0
}

table {
 background-color: #f1f3f6
        
}

th {
    color: #1f4474;
}

td {
 color: #2f3826; 
}