/*
    Colour Palette
    - White: #FFF - rgb(255, 255, 255)
    - Snowy White: #f1f3f6 - rgb(241, 243, 246)
    - Light blue: #5f93d0 - rgb(95, 147, 208)
    – Sea blue: #3b5a89 - rgb(59, 90, 137)
    – Navy blue: #1f4474 - rgb(31, 68, 116)
    - Dark ultramarine blue: #263043 - rgb(38, 48, 67)
    - Dark green: #2f3826 - rgb(47, 56, 38)
    - Black: #000000 - rgb(0, 0, 0)
    
 */

h1, h2, h3, h4, h5, h6,
p, ul, ol, dl, dd, figure,
blockquote, details, hr,
fieldset, pre, table {
  margin: 1rem 0 1rem 1rem;
}

.biggest {
	font-size: 4.301rem;
	line-height: 1.1357;
    color: #263043;
    background-color:transparent;
}

.big {
	font-size: 3.052rem;
    color: #263043;
    background-color:transparent;
}

h1, .h1 {
	font-size: 2.441rem;
    color: #1f4474;
    background-color: transparent;
    font-family: "Helvetica";
}

h2, .h2 {
	font-size: 1.953rem;
    font-family: "Helvetica";
    color: #1f4474;
    padding: 0.3em 0 0em
}

h3, .h3 {
	font-size: 1.563rem;
    font-family: "Helvetica";
    color: #1f4474;
    padding: 0.2em 0 0.5em
}

h4, .h4 {
	font-size: 1.125rem;
    font-family: "Helvetica";
    padding-top: 0em;
}

h5, .h5 {
	font-size: 1rem;
    font-family: "Helvetica";
}

h6, .h6 {
    font-size: 0.8rem;
    font-family: "Helvetica";
    font-weight:normal
	}
	
small, .small {
	font-size: 0.64rem;
    font-family: "Helvetica";
}

.smallest {
	font-size: 0.512rem;
    font-family: "Helvetica";
}

p  {
    font-family: "Helvetica";
    font-size: 1em;
    padding: 0 0 1em;
    line-height: 1.5em;
}

a {
    font-family: "Helvetica";
    text-decoration:none;
    color: #5f93d0;
    padding: 0 0.5rem 0.5rem;
    /*background-color: #f1f3f6;
    border-radius: 15px;
    border: 1px solid #5f93d0;
    box-shadow: 1px 0.5px 7px 0.2px #1f4474; */
}

p a {
    border-radius: 0px;
    border: 0px;
    box-shadow: none;
}

a:hover,
a:active {
    /* It's okay to remove the focus rectangle for mouse states */
    outline: none;
}

a:focus,
input:focus,
button:focus {
    /* The focus rectangle MUST ALWAYS be visible for keyboard states */
    outline: 3px solid #000;
}

.block-link {
    display: block;
}

ul li {
    margin-left: -1.5em;
    box-shadow: none;
}

li a {
    border: 0px;
    box-shadow: none;
}

dt a {
    box-shadow: none;
}

ul {
 list-style-type: none;
    margin-bottom: 0em;
}

ul li:before {
    content:"➠ ";
}

blockquote {
 background-color: #f1f3f6;  
}

ol { 
    font-style:italic;
}

dt {
    font-weight:bold;
}

dt a {
    border: 0;
}

small {
 font-size: 0.8em;   
}

b {
 color: #1f4474;   
}

strong {
 color: #5f93d0;
}

strong-blk {
 color: #000000;
}

blockquote {
    background-color: #f1f3f6;
    padding: 1em;
}

q {
 color: #1f4474;  
}

cite {
    font-style:italic;
    font-weight:bolder;
    color: #1f4474;
}

dfn {
 color: #1f4474;
}

abbr {
 font-weight:bolder;
}

time {
    font-size: 1.05em;
    font-style:italic;
}

mark {
    background-color: #a3c2e7;
}

table {
 background-color: #f1f3f6;
        
}

th {
    color: #1f4474;
}

td {
 color: #2f3826; 
}