/*
  Colour Palette
  - Dark green: #060 - rgb(0, 100, 0)
  - Dark red: #600 - rgb(100, 0, 0)
 */

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 1.5rem;
}

.biggest {
	font-size: 4.301rem;
	line-height: 1.1357;
    color: #263043;
    background-color:transparent;
}

.big {
	font-size: 3.052rem;
    color: #263043;
    background-color:transparent;
}

h1, .h1 {
	font-size: 2.441rem;
    color: #1f4474;
    background-color: transparent;
    font-family: "Helvetica";
}

h2, .h2 {
	font-size: 1.953rem;
    font-family: "Helvetica";
    color: #1f4474;
}

h3, .h3 {
	font-size: 1.563rem;
    font-family: "Helvetica";
    color: #1f4474;
}

h4, .h4 {
	font-size: 1.125rem;
    font-family: "Helvetica";
}

h5, .h5 {
	font-size: 1rem;
    font-family: "Helvetica";
}

h6, .h6 {
    font-size: 0.8rem;
    font-family: "Helvetica";
	}
	
small, .small {
	font-size: 0.64rem;
    font-family: "Helvetica";
}

.smallest {
	font-size: 0.512rem;
    font-family: "Helvetica";
}

p  {
    font-family: "Helvetica";
    font-size: 0.9em;
}

a {
    text-decoration:none;
    color: #5f93d0;
    background-color: #f1f3f6;
    padding: 0 0.3em;
    border-radius: 15px;
    border: 1px solid #5f93d0;
    box-shadow: 1px 1px 4px 0.5px #1f4474;
}

p a {
    border-radius: 0px;
    border: 0px;
}

ul li {
    margin-left: -1.5em  
}

li a {
    border: 0px;
}

ul {
 list-style-type: none;
}

ul li:before {
    content:"➠ ";
}

blockquote {
 background-color: #f1f3f6;  
}

ol { 
    font-style:italic;
}

dt {
    font-weight:bold;
}

dt a {
    border: 0;
}

small {
 font-size: 0.8em;   
}

s {
 color: #5f93d0;
}

b {
 color: #1f4474;   
}

strong {
 color: #1f4474;
}

blockquote {
    background-color: #f1f3f6;
    padding: 1em;
}

q {
 color: #1f4474;  
}

cite {
    font-style:italic;
    font-weight:bolder;
    color: #1f4474;
}

dfn {
 color: #1f4474;
}

abbr {
 font-weight:bolder;
}

time {
    font-size: 1.05em;
    font-style:italic;
}

mark {
    background-color: #a3c2e7;
}

table {
 background-color: #f1f3f6;
        
}

th {
    color: #1f4474;
}

td {
 color: #2f3826; 
}