# Accessibility Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- {Jane Doe}
- {John Doe}
- {Jordan Doe}
- {Theresa Doe}
- {Todd Doe}
- {Taylor Doe}

## Tasks

1. {Find the Salomon Suspect Skis Sale Price}
2. {Receive thank you message for purchase}
3. {Find how many reviews has Ride DH snowboard}

---

## Individual Results & Observations

### {David Birch}

Had trouble navigating menu. The voice over didn't detect the name of the product item. Solution is to have an a tag over a link.

### {Jake Asiddao}

Jake took a while to complete the tasks.
Image needs an alt tag to define the product list item.

### {Martine Cormier}

- Had trouble completing most of the tasks was confused for most of the process.

### {Elzahra Elghirani}

- Elzahra noticed that the sale price should be highlighted in red.
– Elzahra was a bit confused that the snowboards and skis were category items. Maybe there should a show snowboards or list snowboards item.

### {Mike Slingerland}

- Mike no no trouble naviagting the site using the tab key. One thing that threw him off though was the that the page didn't scroll. The product details image was a bit too big. and that the focus areas didn't match the search buttons.

### {Sebastian Nadeau}

- Had no trouble navigating the site. Focus areas didn't match the buttons.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- All participants coudn't detect the name of the product they were selecting right away. The product images needed an alt tag. 
- etc.

### Serious, Causes Frustration, May Hinder Completion

- {Two of the participants succeeded where one of them failed…}
- etc.

### Minor, Annoying, Won’t Hinder Completion

- {Participants pointed out this inconsistency…}
- etc.