# Accessibility Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- {Jane Doe}
- {John Doe}
- {Jordan Doe}
- {Theresa Doe}
- {Todd Doe}
- {Taylor Doe}

## Tasks

1. {Find the Salomon Suspect Skis Sale Price}
2. {Receive thank you message for purchase}
3. {Find how many reviews has Ride DH snowboard}

---

## Individual Results & Observations

### {David Birch}

- {She completed the task as expected…}
- {She had troubles completing a specific task…}
- etc.

### {John Doe}

- {He completed the task as expected…}
- {He had troubles completing a specific task…}
- etc.

### {Jordan Doe}

- {They completed the task as expected…}
- {They had troubles completing a specific task…}
- etc.

### {Theresa Doe}

- {She completed the task as expected…}
- {She had troubles completing a specific task…}
- etc.

### {Todd Doe}

- {He completed the task as expected…}
- {He had troubles completing a specific task…}
- etc.

### {Taylor Doe}

- {They completed the task as expected…}
- {They had troubles completing a specific task…}
- etc.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {All participants had this problem…}
- etc.

### Serious, Causes Frustration, May Hinder Completion

- {Two of the participants succeeded where one of them failed…}
- etc.

### Minor, Annoying, Won’t Hinder Completion

- {Participants pointed out this inconsistency…}
- etc.