---
layout: default
title: Home
showbanner: yes
---

<!--
<div class="home-page-img">
</div> -->

<h1>Palisar – Servicing Premium Winter Sports Goods</h1>
<p>Welcome to Palisar we will deliver top quality sports goods to fuel your adventorous winter activities. Families of all ages are welcome to browse around and shop on our website. Come see tips and tricks on how to perform better, interviews on high end snowboarders and skiers, videos taken on the mountains. Check out our assesment surveys and much more.</p>

<div class="grid">
    <div class=" gutter unit unit-s-1 unit-m-1-3 unit-l-1-3"> 
        {% include  promo-small.html title="DC Snowboards" brand="DC Devum Snowboard" description="Experience the difference with Devum" size="154cm, 157cm" sale-price="Sale $210" retail-price="$250" discount="30% OFF" image="images/devun-snowboard.jpg" %}
    </div>        
    <div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3"> 
        {% include  promo-small.html title="DC Snowboards" description="Experience the difference with Devum" size="154cm, 157cm" sale-price="Sale $210" retail-price="$250" discount="30% OFF" image="images/devun-snowboard.jpg" %}
    </div>
    <div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3"> 
        {% include  promo-small.html title="DC Snowboards" brand="DC Devum Snowboard" description="Experience the difference with Devum" size="154cm, 157cm" sale-price="Sale $210" retail-price="$250" discount="30% OFF" image="images/devun-snowboard.jpg" %}
    </div>
</div>