# User Testing Report

User testing was conducted by {Sebastian} on {March 28, 2014} between the times of {2:25} and {end time} with the following participants:

- {David Birch}
- {John Doe}
- {Jordan Doe}

## Tasks

1. {Find the Salomon Suspect Skis Sale Price}
2. {Receive thank you message for purchase}
3. {Find how many reviews has Ride DH snowboard}

---

## Individual Results & Observations

### {David Birch}

- {Dave clicked on the first two tasks as expected very quickly. The Third task took a little while to get.}
- {David had trouble completing the specific task of finding how many reviews was on the Ride HD Snowboard}
- {Dave had no questions}
- {Dave repeatedly clicked on the product image, then clicked below the product, than clicked the reviews, then realized the reviews had written the amount at the end of his search.}
- {Noticed that the product details page and the add to cart page should be combined into one page on the skis. Dave tried clicking on the different buttons for size but they were not responsive.}

### {Jake Asiddao}

- {Jake clicked went through the first task quickly and found the Sale Price.}
- {Jake had a bit of trouble getting through the second task. He tried clicking on the small promos to recieve further details on a product and it didn't work. Didn't get to the thank you message by first route had to go to product details on Skis.}
- {He wondered why there was no buttons on snowboards}
- {Jake tried clicking on the product image to recieve more information on product details. But it didn't work. Jake also went directly to the type on the products page to click the link unexpecting that he could have clicked on the actual product. Jake noticed that the Product details button was not unified with the rest of the look and feel of the layout. Jake thought that the Salomon Suspect Ski was the Salomon Pro Pipe}
- etc.

### {Stacey Cowan}

- {Stacy Clicked on the small promos expecting to have them navigate to a menu. She went through the first task with a bit of trouble having to first look at the small promos and then go to the products page.}
- {Stacey had trouble reading the brand of sbowboard right away. She saw the brand name and then assumed it was the snowboard she was looking for, while in fact the specific brand type wa underneath.}
- {Stacey had now questions}
- {Stacey thought that the Salomon Suspect Ski was the Salomon Pro Pipe. She unexpectedly assumed that the brand was the product and didn't see her specific product type right away.}
- etc.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {Everyone assumed that the brand name was the product. Snowboard search results product page needs button for links.}
- etc.

### Serious, Causes Frustration, May Hinder Completion

- {Two participants noticed that the small promos are not clickable. Products Details Page and Add to cart page shpould be combined into one page.}
- etc.

### Minor, Annoying, Won’t Hinder Completion

- {Reviews need a link on them. Some images need hover states so that they are more obvious that they can be clicked on.}
- etc.