.facebook,
.twitter {
    margin-right: .2em;
}

.logos {
    width: 2em;
    display: inline-block;
}

.horizontal {
    float: left;
    display:inline-block;
    background-color: #1f4474;
}

.copyright {
    display: inline-block;
    text-align: center;
    color: #FFF;
    margin-top: 1em;
}

footer {
    width: 100%;
    text-align: center;
    background-color: #1f4474;
    padding: 1em;
}