---
layout: default
title: Products
---
<div class="grid">

{% for products in site.pages %}
    {% if products.type == 'ski' %}
    

    <div class="media unit unit-s-1 unit-m-1-2 unit-l-1-3">
        
        <div class="media-img clearfix">
            <div class="center">
                <img src="{{site.baseurl}}/images/products/{{products.image}}" alt="Product">
            </div>
        
        <div class="stars">
            <img src="{{site.baseurl}}/images/{{products.rating}}" alt="Rating">
        </div>
        
        <a href="#"><h5 class="reviews-right normal">{{products.reviews}}</h5></a>
            
        </div>
        
        <div class="clearfix">
        <div class="media-body">
            <h2>{{products.specific-product}}</h2>
            <h4>{{products.brand}}</h4>
            <div>
                <span class="sale"><p class="sale">{{products.sale}}<strong class="sale-price">{{products.sale-price}}</strong></p></span>
                <span class="regular"><p>{{products.retail-price}}<strike>{{products.crossout}}</strike></p></span>
        </div>
        <a class="btn btn-alt" href="{{site.baseurl}}{{products.url}}">Product Details</a>{{page.buy-now}}
        </div>
        </div>   
    </div>

    {% endif %}
{% endfor %}
    
</div>
