<!DOCTYPE html>
<html lang="en-ca">
    <head>
        <meta charset="utf-8">
        <title>Welcome to Palisar</title>
        <meta name="handheldfriendly" content="true">
        <meta name="mobileoptimized" content="240">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link href="http://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
        <link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
        <link href="{{site.baseurl}}/css/typography.css" rel="stylesheet">
        <link href="{{site.baseurl}}/css/promos.css" rel="stylesheet">
        <link href="{{site.baseurl}}/css/forms.css" rel="stylesheet">
        <link href="{{site.baseurl}}/css/list-group.css" rel="stylesheet">
        <link href="{{site.baseurl}}/css/buttons.css" rel="stylesheet">
        <link href="{{site.baseurl}}/css/media-object.css" rel="stylesheet">
        <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
        <link href="{{site.baseurl}}/css/header.css" rel="stylesheet">
        <link href="{{site.baseurl}}/css/footer.css" rel="stylesheet">
        <link href="{{site.baseurl}}/css/product-list.css" rel="stylesheet">
        <link href="{{site.baseurl}}/css/product-details.css" rel="stylesheet">
    </head>

    
<header>
<div class="grid header-colour">
    
    <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 gutter">
       <div class="palisar"><img class="img-flex" src="../images/logo-palisar.svg" alt= "Palisar Logo"></div>
    </div>
    
    <nav class="unit unit-s-1 unit-m-2-3 unit-l-1-3 li-width">
      <ul class="list-group">
        <li class="list-group-item list-group-item-inline">
          <a href="{{site.baseurl}}/" class="white-link {% if page.url =='/' %}current{% endif %}">Home</a>
        </li>
        <li class="list-group-item list-group-item-inline li-width">
          <a href="{{site.baseurl}}/about/" class="white-link {% if page.url contains 'about' %}current{% endif %}">About Us</a>
        </li>
           <li class="list-group-item list-group-item-inline li-width">
          <a href="{{site.baseurl}}/thank-you/" class="white-link {% if page.url =='/thank-you/' %}current{% endif %}">Thank You</a>
        </li>
      </ul>
    </nav>
    
    <div class="unit unit-s-1 unit-m-1 unit-l-1-3">
        <div class="search horizontal">
            <label class= for="search"></label>
                <input type="search" id="search" class="search-field" placeholder="Search">
            <h5 class="go" ><a href="#">Go!</a></h5>
        </div>
    </div>
</div>
</header>
    
    {% if page.showbanner %}
<div class="banner">
    <h4 class="text-white">{{page.bannertext}}</h4>
</div>
    {% endif %}
    
{{content}}
    
<footer class="grid horizontal">
  <div class="grid">
    <div class="unit unit-s-1 unit-m-1 unit-l-1-2">
        <ul class="">
            <li class="list-group-item list-group-item-inline">
                <a href="http://www.facebook.com"target="_blank"><img class="logos" src="{{site.baseurl}}/images/logo-facebook.svg"></a>
            </li>
            <li class="list-group-item list-group-item-inline">
                <a href="http://www.twitter.com"target="_blank"><img class="logos" src="{{site.baseurl}}/images/logo-twitter.svg"></a>
            </li>
      </ul>
    </div>
  </div>

<div class="unit unit-s-2-3 unit-m-1 unit-l-1 gutter">
        <small class="copyright">© 2014 Palisar. All rights reserved.</small>
    </div>
    
    <div class="unit unit-s-1-3 unit-m-1-3 unit-l-1-3">
        <div class="logos">
        </div>
    </div>
</footer>
</html>