---
layout: default
---

<div class="media">
        
    <div class="media-img clearfix">
        <div class="center">
            <img src="{{site.baseurl}}/images/products/{{page.image}}" alt="{{page.specific product}}">
        </div>
        
        <div class="stars">
            <img src="{{site.baseurl}}/images/{{page.rating}}" alt="Rating">
        </div>
        
        <a href="#"><h5 class="reviews-right-normal">{{page.reviews}}</h5></a>
            
    </div>
        
    <div class="clearfix">
        <div class="media-body">
            <h2>{{page.brand}}</h2>
            
            <h4>{{page.specific-product}}</h4>
            
            <div>
                <span class="sale"><p class="sale">{{page.sale}}<strong class="sale-price">{{page.sale-price}}</strong></p></span>
                <span class="regular"><p>{{page.retail-price}}<strike>{{page.crossout}}</strike></p></span>
                <div>
                <a class="btn h2" href="{{site.baseurl}}/cart/">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>   
</div>
    
<!--
    
<h1>{{page.title}}</h1>

<dl>
    <dt>Time Period</dt>
    <dd>{{page.time_period}}</dd>
    <gt>Diet</gt>
    <dd>{{page.diet}}</dd>
</dl>

{{content}}



<div>
    
    <div class="media">
        
        <div class="media-img clearfix">
            <div class="center">
                <img src="../images/dc-ply.jpg" alt"DC Ply Snowboard">
            </div>
        
        <div class="stars">
            <img src="../images/star-graphic.svg">
            <img src="../images/star-graphic.svg">
            <img src="../images/star-graphic.svg">
            <img src="../images/star-graphic.svg">
            <img src="../images/star-graphic.svg">
        </div>
        
        <a href="#"><h5 class="reviews-right normal">6 Reviews</h5></a>
            
        </div>
        
        <div class="clearfix">
        <div class="media-body">
            <h2>DC</h2>
            
            <h4>DC Ply Snowboard</h4>
            
            <div>
                <span class="sale"><p class="sale">Sale <strong class="sale-price">$288.96</strong></p></span>
                <span class="regular"><p>Reg: <strike>$339.95</strike></p></span>
        </div>
        </div>
        </div>   
</div>

-->